@font-face {
    font-family: 'AldotheApache';
    src: url('../fonts/AldotheApache.ttf') format('truetype'); /* adjust path */
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

.webgl {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

.game-over {
    font-family: 'AldotheApache', Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,0.7);
    padding: 5em 12em;
    border-radius: 1em;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.game-over h1 {
    font-family: 'AldotheApache', Arial, sans-serif;
    font-size: 4em;
    margin-bottom: 0.5em;
}

.game-over p {
    font-family: 'AldotheApache', Arial, sans-serif;
    font-size: 2em;
    color: gold;
    margin-bottom: 1em;
}

.game-over button {
    margin-top: 0;
    padding: 0.7em 1.2em;
    font-size: 1.5em;
    font-family: 'AldotheApache', Arial, sans-serif;
    z-index: 1001;
    border: none;
    border-radius: 0.5em;
    background: #ff5555;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.game-over button:hover {
    background: #cc3333;
    transition: 0.3s;
    scale: 1.05;
}

.scoreboard {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'AldotheApache', Arial, sans-serif;
    font-size: 3em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    z-index: 1003;    
    opacity: 0;
    transform-origin: center;
}

.score-value {
    color: gold;
    margin: 0;
}


.start-screen {
    font-family: 'AldotheApache', Arial, sans-serif;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 5em 12em;
    border-radius: 1em;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.start-screen h1 {
    font-family: 'AldotheApache', Arial, sans-serif;
    font-size: 7em;
    margin-bottom: 0.5em;
}

.start-screen button {
    margin-top: 0;
    padding: 0.7em 1.6em;
    font-size: 2.5em;
    font-family: 'AldotheApache', Arial, sans-serif;
    z-index: 1001;
    border: none;
    border-radius: 0.5em;
    background: #55ff55;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.start-screen button:hover {
    background: #33cc33;
    transition: 0.3s;
    scale: 1.05;
}

.slider-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
    font-family: 'AldotheApache', Arial, sans-serif;
    font-size: 2em;
    color: white;
    padding: 25px;
    background: rgba(0,0,0,0.5);
    border-radius: 2rem;
}

.slider input{
    left: -6px; 
    top: 0;
    width: 100px;
    height: 50px;
    background-color: transparent;
    z-index: 2000;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #555;
    cursor: pointer;
}
